@{
  Layout = "_Layout";
}

@model SweetTreat.Models.Treat;

<h4>Treat Deets</h4>
<hr />

@if(@Model.Flavors.Count == 0)
{
  <p>This Treat does not have any Flavors, how sad. :(</p>
}
else
{
  <h4>Flavors of @Model.TreatName:</h4>
  <ul>
  @foreach(var join in Model.Flavors)
  {
    <li>@join.Flavor.FlavorName</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to Treats", "Index")</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Add a Flavor", "AddFlavor", new { id = Model.TreatId })</p>